Package: com.joshdoctors.verticalvideosyndrome
Name: VerticalVideoSyndrome
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Displays a warning image when a user's device is in the recording mode and their phone's device is vertically oriented.
Maintainer: Josh Doctors
Author: Josh Doctors
Section: Tweaks
